@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 35px;
    width: max-content;
    position: relative;
    padding: 15px; /* Add padding here instead of in the <b> tag */
    box-sizing: border-box;
}

.navHeader {
    align-self: stretch;
    background-color: var(--foreground);
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center; /* Ensure child elements fill the height */
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 8px;
}

.floatingNavBar {
    width: 100%;
    position: relative;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    height: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: Figtree;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 24px;
    align-items: stretch;
}


.navMenu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 15px;
}

.navMenu a:hover {
    background-color: var(--background);
}

.headerLogo:hover {
    background-color: var(--background);
}